.buttons-dialog {
    margin-right: 10px;
    padding: 0px 5px;
    width: 45px;
    height: 27px;
    font-size: 12px;
    float: right;
}

.mat-card {
    margin-left: 76px;
    background-color: #d1d1d1;
    width: 40%;
}