  <!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The sidebar -->
<div class="sidebar">
  <a routerLinkActive="active" routerLink="/"><i class="fa fa-fw fa-home tooltip"><span class="tooltiptext">Home</span></i></a>
  <a routerLinkActive="active" routerLink="/input_visitor_details"><i class="fa fa-fw fa-user-plus tooltip"><span class="tooltiptext">Customer Register</span></i></a>
  <a routerLinkActive="active" routerLink="/visitor-list"><i class="fa fa-fw fa-users tooltip"><span class="tooltiptext">Customer List</span></i></a>
  <a routerLinkActive="active" routerLink="/request-queue-number"><i class="fa fa-fw fa-cog tooltip"><span class="tooltiptext">Customer Quee Number</span></i></a>
  <a routerLinkActive="active" routerLink="#"><i class="fa fa-fw fa-envelope tooltip"><span class="tooltiptext">Customer Register Import</span></i></a>
  <a routerLink="/"><i class="fa fa-fw fa-arrow-circle-left tooltip"><span class="tooltiptext">Back to home</span></i></a>
</div>